<% record.errors.full_messages.each do |message| %>
  <div x-data="{showFlash: true, hovering: false}" x-show="showFlash" x-init="flashTimer = setTimeout(() => showFlash = hovering, 5000)" @mouseover="hovering = true" @mouseover.away="hovering = false; flashTimer = setTimeout(() => showFlash = hovering, 5000)" x-transition.duration.200ms="" :class="hovering ? 'bg-red-200' : 'bg-red-100'" class="py-2 px-5 w-full text-gray-500 rounded-sm alert">
    <div class="container">
      <% if message.class == Array %>
        <%= message.join(", ") %>
      <% else %>
        <%= message %>
      <% end %>
    </div>
  </div>
<% end %>
