<%= simple_form_for world, html: {class: "px-6 my-5"} do |f| %>
  <%= f.input :name %>

  <div class="flex flex-row justify-between">
    <%= f.submit class: "button" %>
    <% if world.persisted? %>
      <%= link_to "Delete", world_path(world), data: { turbo_method: :delete, turbo_confirm: "Are you sure? This will delete all articles in this world." } %>
    <% end %>
  </div>
<% end %>
