<%= link_to @path, data: @data do %>
  <div class="group pb-5 mb-3">
    <div class="w-full text-center border-b border-gray-200 group-hover:border-blue-500" style="height: 15px;">
      <span class="mt-2 px-4 text-lg text-gray-300 bg-white group-hover:text-blue-500">
        + New field
      </span>
    </div>
  </div>
<% end %>
