<%= render partial: "layouts/title_panel", locals: { title: @article.name } %>

<div class="p-6 my-5 bg-white rounded-sm">
  <p class="text-lg">Edit</p>
  <%= render partial: 'form', locals: { article_category: @article_category, article: @article } %>
</div>
