<div class="p-6 my-5 bg-white rounded-sm">
  <p class="text-lg"><p>
  <div class="px-6 my-5">
    <div class="pb-5">
      <p class="font-semibold">Name</p>
      <p><%= @article.name %></p>
    </div>
    <div class="pb-5">
      <p class="font-semibold">Description</p>
      <p><%== @article.description %></p>
    </div>
  </div>
</div>

<% puts @article_category.inspect %>
<% puts @article.inspect %>
<div class="pt-5">
  <%= link_to "Edit #{@article_category.name}", edit_polymorphic_path([@article_category, @article]), class: "button" %>
</div>
