<%= simple_form_for document, html: {class: "px-6 my-5"} do |f| %>
  <%= f.input :name %>

  <div class="flex flex-row justify-between">
    <%= f.submit class: "button" %>
    <% if document.persisted? %>
      <%= link_to "Delete", documents_path(document), class: "text-red-500", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
