<% if @documents.any? %>
  <div class="flex flex-row justify-center">
    <div class="p-2 w-1/2 bg-gray-300 rounded-sm">
      <% @documents.each do |document| %>
        <%= render ListItemComponent.new(item: document, index: 0, count: @documents.size, links: item_list_links(document)) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="flex flex-row justify-center">
  <div class="pt-5 w-1/2">
    <%= link_to "New article category", new_document_path, class: "button" %>
  </div>
</div>
