<%= render partial: "layouts/title_panel", locals: { title: "New Document" } %>

<div class="p-6 my-5 bg-white rounded-sm">
  <p class="text-lg">New</p>
  <%= render partial: "form", locals: { document: @document } %>
</div>
