<%= render partial: "layouts/title_panel", locals: { title: @document.name, edit_link: edit_document_path } %>

<div class="flex flex-row justify-center">
  <%= turbo_frame_tag "article_instances", class: "md:w-1/2 sm:w-2/3" do %>
    <%= render "article_instances", document: @document, paragraphs: @paragraphs, articles: @articles %>
  <% end %>
</div>
