= render(partial: "layouts/title_panel", locals: {title: 'New Character'})

div class="p-6 my-5 bg-white rounded-sm"
  p class="text-lg" New
  = render partial: 'layouts/forms/writable_form', locals: {writable: @character}