= render(partial: "layouts/title_panel", locals: {title: "New #{@writable_field.model} Field"})

div class="p-6 my-5 bg-white rounded-sm"
  p class="text-lg" New
  = render partial: 'form', locals: {writable_field: @writable_field}