@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

[x-cloak] { display: none; }

@layer utilities {
  .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
  }
  .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
  }
  .break-inside {
      break-inside: avoid;
  }
}

.tribute-container {
  z-index: 40;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 4px rgba(0,0,0,0.1), 0 5px 20px rgba(0,0,0,0.05);
}

.tribute-container ul {
  z-index: 40;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tribute-container li {
  background: #fff;
  padding: 0.2em 1em;
  min-width: 15em;
  max-width: 100%;
}

.tribute-container .highlight {
  background: #1b6ac9;
  color: #fff !important;
}

.tribute-container .highlight span {
  font-weight: bold;
}

.button {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded cursor-pointer hover:bg-blue-700;
}

.form-select {
  @apply appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

trix-editor {
  @apply border-gray-400 rounded-sm;
}

input[type=text] {
  @apply border-gray-400 rounded-sm;
}
