<div class="fixed inset-x-0 top-0 h-24 text-gray-200 bg-gray-500">
  <div class="flex flex-row justify-center">
    <p class="mt-5 text-2xl"><%= link_to "World Builder", root_path %></p>
  </div>
</div>
